* {
    color: rgb(56, 55, 55);
}
h1 {
    text-align: center;
}
p {
    font-size: 1.3rem;
    text-align: center;
}
span {
    margin: 0 20px 0 20px;
}
.ul-anchor {
    list-style: none;
}
.ul-anchor a {
    text-decoration: none;
    color: brown;
}
div img {
    display: block;
    margin: 0 auto;
}
.soft-skill {
    margin: 50px 0 0 25%;
}
.hobby li {
    display: inline-block;
    padding: 10px 25px;
    font-size: 1.4rem;
    color: green;
    text-align: center;
}
.div-work {
    margin: 50px 0 0 25%;
}
.div-work table {
    margin: 0 0 0 100px;
}
.table-work {
    width: 550px;
    text-align: center;
}
.table-work tr {
    height: 60px;
    font-size: 1.3rem;
}
.table-work td {
    color: rgb(87, 87, 218);
    font-size: 1.2rem;
    height: 50px;
}
legend {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
}
form {
    width: 75%;
    margin: 50px auto 0;
}
form label {
    font-size: 1.2rem;
    margin-right: 7px;
}
form div {
    margin-top: 14px;
}
form input, textarea {
    border: 1px solid rgb(56, 55, 55);
    border-radius: 4px;
}
.for-wrapper {
    margin-left: 50px;
}
form button {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 10px;
    font-size: 1.2rem;
    font-weight: 550;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(56, 55, 55);
    border-radius: 4px;
    background-color: white;
}