* {
    color: rgb(56, 55, 55);
}
h1 {
    text-align: center;
}
p {
    font-size: 1.3rem;
    text-align: center;
}
span {
    margin: 0 20px 0 20px;
}
.ul-anchor {
    list-style: none;
}
.ul-anchor a {
    text-decoration: none;
    color: brown;
}
div img {
    display: block;
    margin: 0 auto;
}
.soft-skill {
    margin: 50px 0 0 25%;
}
.hobby li {
    display: inline-block;
    padding: 10px 25px;
    font-size: 1.4rem;
    color: green;
    text-align: center;
}
.div-work {
    margin: 50px 0 0 25%;
}
.div-work table {
    margin: 0 0 0 100px;
}
.table-work {
    width: 550px;
    text-align: center;
}
.table-work tr {
    height: 60px;
    font-size: 1.3rem;
}
.table-work td {
    color: rgb(87, 87, 218);
    font-size: 1.2rem;
    height: 50px;
}