* {
    color: rgb(56, 55, 55);
    font-family: Geneva, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: auto;
}
a {
    color:#E54D26;
    text-decoration: none;
    transition: all .4s;
}
a:link {
    color: #E54D26;
    text-decoration: none;
}
a:hover {
    color: red;
    font-size: 1.5rem;
}
a:visited {
    color: #006EBA;
}
a:active {
    color: #E9CA32;
}
.container {
    max-width: 90%;
    margin: 0 auto;
} 
h1 {
    text-align: center;
}
header p {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 900;
    word-spacing: 20px;
}
main p {
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    word-spacing: 7px;
}
main p span {
    font-weight: 900;
    font-style: italic;
}
.ul-anchor {
    margin-top: 10px;
    list-style: none;
}
.img {
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}
.soft-skill {
    margin: 50px 0 0 25%;
}
.hobby {
    margin: 50px 0 0 25%;
}
.hobby li {
    display: inline-block;
    position: relative;
    left: -302px;
    padding: 10px 25px;
    font-size: 1.4rem;
    color: green;
    text-align: center;
}
table thead th {
    padding: 20px;
    text-align: center;
}  
.div-work {
    margin: 3% 0 0 25%;
}
.table-work {
    max-width: 90%;
    margin: 0 0 0 17%;
}
.table-work tr {
    height: 60px;
    font-size: 1.3rem;
}
.table-work td {
    color: rgb(87, 87, 218);
    font-size: 1.2rem;
    text-align: center;
    height: 50px;
    padding: 20px;
}
form {
    max-width: 50%;
    margin: 5% auto 10% auto;
}
fieldset {
    border-radius: 4px;
    border: 1px solid #000;
}
legend {
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}
form label {
    font-size: 1.2rem;
    margin-right: 7px;
}
form div {
    margin-top: 14px;
}
form input, textarea {
    border: 1px solid rgb(56, 55, 55);
    border-radius: 4px;
    outline: none;
}
form input:focus, textarea:focus {
    transition: all 0.1s;
    border: 2px solid rgb(56, 55, 55);
    font-family: inherit;
}
textarea {
    max-width: 80%;
    resize: none;
}
.for-wrapper {
    margin: 5px 0 5px 100px;
}
form button {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 60%;
    bottom: 36px;
    font-size: 1.2rem;
    font-weight: 550;
    width: 27%;
    height: 33px;
    border: 1px solid rgb(56, 55, 55);
    border-radius: 4px;
    background-color: white;
}
form button:hover {
    transition: all 0.2s;
    background-color: rgb(216, 216, 216);
    color: rgb(56, 55, 55);
    font-size: 1rem;
    border: 2px solid rgb(56, 55, 55);
}
form button:active {
    transition: all 0.2s;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    border: 2px solid rgb(56, 55, 55);
}
.hr {
    height: 7px;
    width: 50%;
    border-radius: 2px;
    margin: 10px auto 20px auto;
}
.hr span {
    display: inline-block;
    width: 32%;
}
.hr-o {
    background-color: #E54D26;
}
.hr-y {
    background-color: #E9CA32;
}
.hr-b {
    background-color: #006EBA;
}
/*move box*/
.wrapp-box {
    width: 80%;
    margin: auto;
}
.relative {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100px;
    border: 2px solid rebeccapurple;
}
.box {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: rebeccapurple;
}
.box:hover {
    left: 30px;
    top: 20px;
}
.box:active {
    left: 100px;
    top: 20px;
}